<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amhsn.retrofitroom.trueorfalse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">

        <activity android:name=".GameRoom.PlayerActivity"/> <!-- <activity android:name=".GameRoom.GamePlayActivity" /> -->
        <activity android:name=".GameRoom.GetOpponentActivity"/>
        <activity
            android:name=".login.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".login.LoginPopup"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SinglePlayerActivity"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SinglePlayerResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_single_player_result"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LevelActivity"
            android:label="@string/title_activity_level"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_level"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="fullSensor" /> <!-- Start Service Firebase Messaging -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bookmarks" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/NEWS_CHANNEL_ID" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- End Service Firebase Messaging -->
        <!-- Start Service Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>